---
site_title: My first EleventySite
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <title>{{ site_title }}</title>
    </head>
    <body>
        <h1>Some Title</h1>
        <hr />
        {{ content | safe }}
        <hr />
        <small>
            <a href="https://codingthesmartway.com"></a>
        </small>
    </body>
</html>